header {
    display: flex;
    align-items: center;
    padding: 2.5rem 4.5rem;
}

header img {
    margin-right: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;

    gap: 2rem;
}

nav a {
    font-size: 1.5rem;
    font-weight: 600;
    color: #C4C4CC;
    text-decoration: none;

    transition: color 0.2s;
}

nav a:hover {
    color: #FFFFFF;
}